@font-face {
    font-family: Garamond, serif;
    src: url();
}
input{
    background-color: #FFFFF0;
    color: #000000;
}
form{
    color: #FFFFF0;
}
body{
    background-color: #333333;
    color: #FFFFF0;
    padding: 0px;
}
button{
    background-color: #FFFFF0;
    color: #333333;
    text-align: center;
}
.mainMenuScreen{
    align-items: center;
    background-color: #808080;
    color: #FFFFF0;
    display: flex;
    height: 100%;
    left: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 255;
}
.mainMenuButtons{
    display: block;
    margin: auto;
    padding: 10px;
    width: fit-content;
}
.mainMenuSpellsButton{
    background-color: #333333;
    display: inline;
    height: 10%;
    margin: auto;
    outline: 2px;
    width: 10%;
}
.mainMenuMartialsButton{
    background-color: #333333;
    display: inline;
    height: 10%;
    margin: auto;
    outline: 2px;
    width: 10%;
}
.bottomToolBar{
    background-color: #808080;
    bottom: 0px;
    color: #FFFFF0;
    height: 3%;
    left: 0px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.bottomToolBar button{
    background-color: #2F4F4F;
    display: inline-block;
    width: 80px;
}