@font-face {
    font-family: Garamond, serif;
    src: url();
}
input{
    background-color: #FFFFF0;
    color: #000000;
}
form{
    color: #FFFFF0;
}
body{
    color: #FFFFF0;
    font-size: 1em;
    padding: 0px;
}
button{
    background-color: #FFFFF0;
    color: #333333;
    text-align: center;
}
img{
    height: 100%;
    width: 100%
}
.mainMenuScreen{
    align-items: center;
    background-color: #808080;
    color: #FFFFF0;
    display: flex;
    height: 100%;
    left: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.mainMenuButtons{
    background-color: #2F4F4F;
    display: block;
    margin: auto;
    padding: 10px;
    width: 50%;
}
.mainMenuSpellsButton{
    background-color: #333333;
    color: #FFFFF0;
    display: inline-block;
    font-size: 2.5em;
    height: 80px;
    margin: 4%;
    outline: 2px;
    text-align: center;
    width: 40%;
}
.mainMenuMartialsButton{
    background-color: #333333;
    color: #FFFFF0;
    display: inline-block;
    font-size: 2.5em;
    height: 80px;
    margin: 4%;
    outline: 2px;
    text-align: center;
    width: 40%;
}
.spellBox{
    background-color: #333333;
    display: inline-block;
    height: 40%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 0;
}
.toolTipButton{
    /*background-color: #2F4F4F;*/
    display: inline-block;
    height: 128px;
    margin: 16px;
    width: 128px;
}
.toolTipButton:hover .toolTip{
    display: block;
}
.toolTip{
    background-color: #000000;
    color: #FFFFF0;
    display: none;
    font-size: 1em;
    height: fit-content;
    left: 0;
    padding: 4px;
    position: absolute;
    top: 0;
    width: 512px;
    z-index: 51;
}
.spellComponent{
    display: inline;
    height: 128px;
    margin: auto;
    width: 128px;
}
.spellTitle{
    color: #FFFFF0;
    font-size: 1.5em;
}
.spellType{
    /*color: #8A2BE2; This is set in the javascript for component decoration!*/
    font-size: 1em;
}
.spellDescription{
    color: #808080;
    font-size: 1em;
}
.componentStatTable{
    background-color: #778899;
    border-collapse: collapse;
    color: #000000;
    margin-top: 8px;
    padding: 0;
    width: 100%;
}
.componentStatRow:nth-child(even){
    background-color: #B0C4DE;
}
.componentStatRow{
    margin: auto;
    width: 100%;
}
.componentStatCell{
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin: auto;
    padding: 4px;
    text-align: center;
    width: 33.33%;
}
.wandBox{
    background-color: #808080;
    display: inline-block;
    height: 57%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 40%;
    z-index: 12;
}
.wandSelector{

}
.bottomToolBar{
    background-color: #333333;
    bottom: 0px;
    color: #FFFFF0;
    height: 3%;
    left: 0px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 50;
}
.bottomToolBarButton{
    background-color: #2F4F4F;
    color: #FFFFF0;
    display: inline-block;
    height: 100%;
    margin-left: 2%;
    outline-width: 2px;
    width: 8%;
}